required = [
  "sigs.k8s.io/controller-runtime/pkg/client/config",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/conversion-gen",
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "k8s.io/gengo/args",
  "github.com/benlaurie/objecthash/go/objecthash",
  "github.com/hashicorp/go-version",
]

[[constraint]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.14.1"

[[constraint]]
  name = "sigs.k8s.io/controller-runtime"
  version = "v0.2.2"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.14.1"

[[override]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.14.1"

[[override]]
  name = "gopkg.in/fsnotify.v1"
  source = "https://github.com/fsnotify/fsnotify.git"

[[constraint]]
  name = "github.com/lyft/flytestdlib"
  version = "0.2.10"

[[constraint]]
  name = "github.com/hashicorp/go-version"
  version = "1.2.1"
